.photo-grid__list {
  display: grid;
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: calc(100% - 48px);
    gap: 16px;
  }
}

@media screen and (max-width: 400px) {
  .photo-grid__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-width: calc(100% - 32px);
    gap: 12px;
  }
}
